#menu {
	
	text-align:center;
}
#menu a, #menu a:visited {
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
line-height: 12px;
color: #000;
background-color: #999;
display: block;
margin-right: 4px;
float: left;
text-align: center;
padding: 10px 20px;
text-decoration: none;
}
#menu a:hover {
color: #FFF;
background-color: #F90;
}
#menu li {
display:inline-block;
padding-left:1px;
padding-right:1px;
}
